#container{
display: grid;
height:100vh;
width: 100vw;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;

grid-template-areas: 
"Vbar Hbar Hbar Hbar"
"Vbar Bttm Bttm Bttm";
background-color:pink
}

/*
.navbar {
  border: solid green 2px;
}

*/